/*font-family: 'Open Sans', sans-serif;*/
*{
	box-sizing: border-box;
		margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;

}
p{
	padding: 0;
	margin: 0
}
h1,h2,h3,h4,h5,h6{
	margin: 0.8rem 0;
	padding: 0;
}
.top-nav-area {
    background: #000;
    color: #fff;
    padding: 12px 0;
}

.login-link {
    text-align: right;
    /* color: #fff !important; */
}

.login-link a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.main-menu-area {
    padding: 36px;
    background: url(img/banner.jpg);
    position: relative;
    z-index: 1;
}

.main-menu-area::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 195, 13, 0.7);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 700;
}
.slider-bottom {
    background: #27ae01;
    padding: 12px 0;
}

.slider-bottom h3 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}


.signup-btn a {
    background: #fff !important;
    color: #27ae01;
    font-size: 24px;
    padding: 8px 54px;
    border-radius: 160px;
}
.signup-btn a:hover{
	color: #333;
}
.section-padding {
    padding: 60px 0;
}

.about-content {
    padding: 10px 12px;
}

.about-content h2 {
    font-size: 30px;
    font-weight: 700;
}
.section-title {
    text-align: center;
    padding: 32px 0;
}

.section-title h1 {
    font-size: 30px;
    font-weight: 700;
}
#service {
    background: #f0f0f0;
}

.single-service .card-body{
	text-align: center;
}
.single-service h3 {
    font-size: 18px;
    font-weight: 700;
}
a.btn.btn-info.btn-servcie {
    background: #27ae01;
    margin-top: 10px;
    padding: 8px 24px;
    border-radius: 160px;
}
/* event-area */
#event-area{
	background: #e0e0e0;
}
.event-wrapper {
    background: #fff;
    border: 10px solid #27ae01;
}

.event-content {
    padding: 12px;
}

.event-content h3 {
    font-size: 18px;
    font-weight: 700;
}

.event-img img {
    width: 100%;
    height: 290px;
}