/*font-family: 'Open Sans', sans-serif;*/
*{
	box-sizing: border-box;
		margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;

}
/*html {
  scroll-behavior: smooth;
}
*/

#sticker-sticky-wrapper {
  z-index: 99999;
}

img{
    width: 100%;
}

p{
	padding: 0;
	margin: 0
}
h1,h2,h3,h4,h5,h6{
	margin: 0.8rem 0;
	padding: 0;
}

.mix{
    margin-bottom: 30px;
}
.top-nav-area {
    background: #000;
    color: #fff;
    padding: 12px 0;
}

.login-link {
    text-align: right;
    /* color: #fff !important; */
}

.login-link a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.main-menu-area {
    padding: 36px;
    background: url(img/banner.jpg);
    position: relative;
    z-index: 1;
}

.main-menu-area::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 195, 13, 0.7);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 700;
}
.slider-bottom {
    background: #27ae01;
    padding: 12px 0;
}

.slider-bottom h3 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}


.signup-btn a {
    background: #fff !important;
    color: #27ae01;
    font-size: 24px;
    padding: 8px 54px;
    border-radius: 160px;
}
.signup-btn a:hover{
	color: #333;
}
.section-padding {
    padding: 60px 0;
}

.about-content {
    padding: 10px 12px;
}

.about-content h2 {
    font-size: 30px;
    font-weight: 700;
}
.section-title {
    text-align: center;
    padding: 32px 0;
}

.section-title h1 {
    font-size: 30px;
    font-weight: 700;
}
#service {
    background: #f0f0f0;
}

.single-service .card-body{
	text-align: center;
}
.single-service h3 {
    font-size: 18px;
    font-weight: 700;
}
a.btn.btn-info.btn-servcie {
    background: #27ae01;
    margin-top: 10px;
    padding: 8px 24px;
    border-radius: 160px;
}
/* event-area */
#event-area{
	background: #e0e0e0;
}
.event-wrapper {
    background: #fff;
    border: 10px solid #27ae01;
}

.event-content {
    padding: 12px;
}

.event-content h3 {
    font-size: 18px;
    font-weight: 700;
}

.event-img img {
    width: 100%;
    height: 290px;
}

/* donated area css */

#donated-area{
    background: url(img/donated-bg.jpg)no-repeat center center / cover;
    position: relative;
    z-index: 1;
}
#donated-area::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(39,174,1,0.5);
    z-index: -1;
}
.donated-wizard.text-center {
    background: #fff;
    /* padding: 0 10px 0 10px; */
    border: 6px solid #517234;
}

.wizard-header {
    background: #58bf24;
    color: #fff;
    margin-top: -13px;
}

.wizard-header h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
}
.wizard-body {
    padding: 14px;
}
.wizard-body h4{
    font-weight: 700;
}
button.btn.btn-success.btn-submit {
    width: 100%;
    border-radius: 25px;
}
.wizard-body p {
    padding: 8px 0;
    line-height: 1.8;
}

.wizard-body address {
    line-height: 1.8;
}
.input-round {
    border-radius: 25px;
}
/* news letter area css */

div#newsletter-area {
    position: relative;
}

div#newsletter-area::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background: #000;
    bottom: -19px;
    left: 48%;
    border-radius: 50%;
    border: 2px solid #fff;
}
.newsletter-content {
    text-align: center;
}

.newsletter-content h3 {
    color: #28a745;
    font-size: 22px;
    font-weight: 700;
}

.newsletter-content p {
    font-size: 15px;
    padding: 10px 0;
}

.newsletter-content form {
    max-width: 400px;
    margin: 26px auto;
}
.btn-subscribe {
    padding: 8px 32px;
    border-radius: 25px;
    font-weight: 700;
}


/* footer top */
.footer-top-area {
    background: #202020;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}

.scroll-top {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: -20px;
    left: 48%;
}
.scroll-top a{
    text-decoration: none;
}

.scroll-top i {
   color: #fff;
    font-size: 25px;
}


.footer-top-content {
    text-align: center;
}
.footer-top-content {
    text-align: center;
}

.footer-top-content h2 {
    color: #27ae01;
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    padding: 20px 0;
}

.social-link a i {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    margin: 6px;
}
.footer-nav .nav-link {
    display: block;
    padding: .5rem 12px;
    font-size: 15px;
    color: #fff;
    margin-top: 10px;
}
.footer-bottom {
    background: #000;
    color: #fff !important;
    padding: 12px 0;
}

 #map {
      width: 100%;
      height: 400px;
    }